<div>
  <mat-toolbar class="mat-elevation-z6">
    <mat-toolbar-row>
      <button
        (click)="transferItem()"
        class="button"
        mat-raised-button
        type="button"
      >
        <mat-icon>transfer_within_a_station</mat-icon>
        <span class="label">{{ transferButtonLabel }}</span>
      </button>

      <div fxFlex fxHide.xs fxLayout fxLayoutAlign="flex-end">
        <ul class="alert alert-info navigation-items" fxLayout fxLayoutGap="20px">
          <li>
            <a routerLink="/dashboard">
              <span class="link" matTooltip="Click to return to dashboard">Dashboard</span>
            </a>
            <span class="label"> / {{ pageTitle }}</span>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <br/>
  <search-date-table
    [tableColumns]="transferTableColumns"
    [tableEntries]="tableData"
    class="grid-container"
  ></search-date-table>
</div>

