<div>
  <mat-toolbar class="mat-elevation-z6">
    <mat-toolbar-row>
      <button
        type="button"
        button="submit"
        mat-raised-button
        class="button"
        (click)="openDialog()"
      >
        <mat-icon>person_add</mat-icon> <span class="label">Add Employee</span>
      </button>

      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="alert alert-info navigation-items">
          <li>
            <a routerLink="/dashboard"> <span class="link">Dashboard</span> </a>
            <span class="label"> / Employees Information</span>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <br />
  <app-table
    class="grid-container"
    [tableData]="employees"
    [tableColumns]="employeeTableColumns"
    [isFilterable]="true"
    [isPageable]="true"
    [paginationSizes]="[2, 5, 6]"
    [defaultPageSize]="5"
    (sort)="sortData($event)"
    [deleteActionIcon]="'delete'"
    [updateActionIcon]="'edit'"
    (deleteAction)="deleteEmployee($event)"
    (updateAction)="updateEmployee($event)"
  ></app-table>
</div>
