<!--<div>-->
<!--  <button-->
<!--    cdkFocusInitial-->
<!--    (click)="closeDialog()"-->
<!--    class="close"-->
<!--    mat-button-->
<!--    [disabled]="isAsyncOperationRunning$ | async"-->
<!--  >-->
<!--    X-->
<!--  </button>-->
<!--  <mat-progress-bar-->
<!--    mode="indeterminate"-->
<!--    *ngIf="isAsyncOperationRunning$ | async"-->
<!--  >-->
<!--  </mat-progress-bar>-->
<!--  <h1 mat-dialog-title *ngIf="data.id">Edit Employee</h1>-->
<!--  <h1 mat-dialog-title *ngIf="!data.id">Create Employee</h1>-->
<!--  <div mat-dialog-content>-->

<!--    <div class="dialog">-->
<!--      <dynamic-form-->
<!--        [config]="config"-->
<!--        #form="dynamicForm"-->
<!--        (submit)="submit($event)"-->
<!--      >-->
<!--      </dynamic-form>-->
<!--      {{ form.valid }}-->
<!--      {{ form.value | json }}-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
