<div>
  <mat-toolbar class="mat-elevation-z6">
    <mat-toolbar-row>
      <button
        (click)="createPurchase()"
        class="button"
        mat-raised-button>
        <span class="label">{{ addButtonLabel }}</span>
      </button>

      <div fxFlex fxHide.xs fxLayout fxLayoutAlign="flex-end">
        <ul class="alert alert-info navigation-items" fxLayout fxLayoutGap="20px">
          <li>
            <a routerLink="/dashboard"> <span class="link">Dashboard</span> </a>
            <span class="label"> / {{ pageTitle }}</span>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <br/>
  <search-date-table
    (deleteAction)="deleteComputer($event)"
    (updateAction)="updateComputer($event)"
    [tableColumns]="computerTableColumns"
    [tableEntries]="tableData"
    class="grid-container"
  ></search-date-table>
</div>
