<ng-container>

  <mat-spinner *ngIf="tableDataSource.loading$ | async" diameter="64" style="margin: 0 auto"></mat-spinner>

  <!-- Filter -->
  <ng-container [matColumnDef]="this.actionIcons">
    <div style="display:flex; justify-content: flex-end;">
      <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Search by</mat-label>
        <input #filter (input)="tableDataSource.queryBy({search: filter.value})" matInput
               placeholder="name or code"
               type="text"/>
      </mat-form-field>
    </div>
  </ng-container>

  <!-- Table -->
  <div class="table-responsive">
    <table
      (matSortChange)="sortTable($event)"
      [dataSource]="tableDataSource"
      aria-label="Elements"
      mat-table
      matSort
    >
      <!-- for routing to details view page -->
      <!--      <ng-template #previewButton let-row="row">-->
      <!--        <button-->
      <!--          mat-icon-button-->
      <!--          matTooltip="{{ row.firstName | possessive }} details"-->
      <!--          matTooltipPosition="right"-->
      <!--          routerLink="{{ row.id }}"-->
      <!--        >-->
      <!--          <mat-icon>preview</mat-icon>-->
      <!--        </button>-->
      <!--      </ng-template>-->

      <!-- action column -->
      <ng-container *ngIf="actionIcons?.length" [matColumnDef]="actionIcons" stickyEnd>
        <th *matHeaderCellDef mat-header-cell style="width: 150px;">{{ actionIcons | titlecase }}</th>
        <td *matCellDef="let element" [id]="actionIcons" mat-cell style="width: 150px;">
          <!--          <ng-container-->
          <!--            *ngTemplateOutlet="previewButton; context: { row: element }"-->
          <!--          ></ng-container>-->
          <button
            (click)="updateRowAction(element)"
            mat-icon-button
            matTooltip="Edit"
            matTooltipPosition="right"
          >
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button
            (click)="deleteRowAction(element)"
            mat-icon-button
            matTooltip="Delete"
            matTooltipPosition="right"
          >
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container
        *ngFor="let tableColumn of tableColumns"
        [matColumnDef]="tableColumn.name"
      >
        <!-- if sortable column header -->
        <ng-container *ngIf="tableColumn.isSortable; else notSortable">
          <th
            *matHeaderCellDef
            [arrowPosition]="
              tableColumn.position === 'right' ? 'before' : 'after'
            "
            [mat-sort-header]="tableColumn.name"
            mat-header-cell
          >
            {{ tableColumn.name }}
          </th>
        </ng-container>

        <!-- else not sortable -->
        <ng-template #notSortable>
          <th
            *matHeaderCellDef
            [class.text-right]="tableColumn.position == 'right'"
            mat-header-cell
          >
            {{ tableColumn.name }}
          </th>
        </ng-template>

        <!-- column data -->
        <td
          *matCellDef="let element"
          [class.text-right]="tableColumn.position == 'right'"
          mat-cell
        >
          {{ element | dataPropertyGetter : tableColumn.dataKey }}
        </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    </table>
  </div>
  <!-- </table> -->

  <!-- pagination -->
  <mat-paginator
    (page)="tableDataSource.fetch($event.pageIndex, $event.pageSize)"
    *ngIf="tableDataSource.page$ | async as page"
    [length]="page.totalElements"
    [pageIndex]="page.number"
    [pageSizeOptions]="paginationSizes"
    [pageSize]="page.size"
    showFirstLastButtons
  >
  </mat-paginator>
</ng-container>
