<mat-toolbar class="mat-elevation-z8" fxLayout="row" fxLayoutAlign="space-between center">
  <button
    (click)="sidenav.toggle()"
    *ngIf="sidenav.mode === 'over'"
    mat-icon-button
    matTooltip="Menu"
  >
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <span fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/">{{logo}}</button>
  </span>


  <div fxLayout="row" fxLayoutGap="20px" fxShow="false" fxShow.gt-sm>
    <button [matMenuTriggerFor]="userAccountMenu" mat-button>
      <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
      <span>{{ userProfile?.firstName }} {{ userProfile?.lastName }}</span>
    </button>
    <button mat-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-menu #userAccountMenu xPosition="before">


  <button mat-menu-item routerLink="#">
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </button>
  <mat-divider></mat-divider>
  <button (click)="logout()" mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <img
      alt="Avatar"
      class="avatar mat-elevation-z8"
      height="100"
      ngSrc="https://th.bing.com/th?id=OIP.w3GGAMu693wOoV5UAp2V2AHaG7&w=258&h=241&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2"
      width="100"
    />

    <h4 class="name">{{userProfile?.firstName}} {{userProfile?.lastName}}</h4>
    <h3 class="designation">{{designation}}</h3>

    <mat-divider></mat-divider>

    <mat-nav-list>
      <a mat-list-item routerLink="{{ routeLink.link }}">
        <mat-icon class="icon">{{ routeLink.icon }}</mat-icon>
        <span class="label">{{ routeLink.name }}</span>
      </a>

      <ng-container *ngFor="let route of routePanel">
        <mat-expansion-panel
          *ngIf="!(route.header === 'Asset Inventory' && isAdmin) && !(route.header === 'Asset Tracking' && isProcure) && !(route.header === 'Employee' && isProcure)">
          <mat-expansion-panel-header>
            {{ route.header }}
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a *ngFor="let panel of route.nav" mat-list-item
               routerLink="{{ panel.link }}">
              <mat-icon class="icon">{{ panel.icon }}</mat-icon>
              <span class="label">{{ panel.name }}</span>
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </ng-container>
    </mat-nav-list>

    <mat-divider></mat-divider>
    <button class="menu-button" mat-button routerLink="/help">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
