<mat-expansion-panel
  (expandedChange)="onExpandedChange($event)"
  [(expanded)]="isExpanded"
>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Debug
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-card-content>
    <mat-tab-group [(selectedIndex)]="selectedIndex">
      <mat-tab label="Form value">
        <pre>{{ form | json }}</pre>
      </mat-tab>
      <mat-tab [disabled]="!model" label="Model">
        <pre>{{ model | json }}</pre>
      </mat-tab>
      <mat-tab [disabled]="submittedValue === null" label="Submitted">
        <p>You just submitted ({{ submittedDate | date: "short" }}):</p>
        <pre>{{ submittedValue | json }}</pre>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-expansion-panel>
