<div>
  <mat-toolbar class="mat-elevation-z6">
    <mat-toolbar-row>
      <button
        type="button"
        button="submit"
        mat-raised-button
        class="button"
        (click)="createDepartment()"
      >
        <mat-icon>person_add</mat-icon> <span class="label">{{ addDeptButtonLabel }}</span>
      </button>

      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="alert alert-info navigation-items">
          <li>
            <a routerLink="/dashboard"> <span class="link">Dashboard</span> </a>
            <span class="label"> / {{ pageTitle }}</span>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <br />
  <app-table class="grid-container"
             [tableEntries]="tableData"
             [tableColumns]="departmentTableColumns"
  ></app-table>
</div>
