<div>
  <button (click)="options.resetModel && options.resetModel()" class="close" mat-dialog-close="true" mat-icon-button>
    <mat-icon>clear</mat-icon>
  </button>
  <h2 mat-dialog-title>{{ title }}</h2>

  <div class="container">
    <!--  DO NOT DELETE    <form [formGroup]="form" (ngSubmit)="onSubmit(form)" style="width: 90%; margin: 0 auto">-->
    <form (ngSubmit)="onSubmit(form)" [formGroup]="form" style="width: 95%; margin: 0 auto">
      <formly-form
        *ngIf="!title.toLocaleLowerCase().includes('remove')"
        [fields]="fields"
        [form]="form"
        [model]="employee"
        [options]="options">
      </formly-form>

      <div *ngIf="title.toLocaleLowerCase().includes('remove')">
        <mat-dialog-content>
          <p [innerHTML]="confirmText"></p>
        </mat-dialog-content>
        <mat-dialog-actions>
          <button class="button" mat-dialog-close="true" mat-raised-button>Cancel</button>
          <button class="delete" mat-raised-button>{{submitLabel}}</button>
        </mat-dialog-actions>
      </div>

      <div *ngIf="!title.toLocaleLowerCase().includes('remove')"
           class="button-row"
           style="display:flex; justify-content: flex-end;"
      >
        <!--        <button class="formly-button" mat-raised-button type="reset">Clear</button>-->
        <button [disabled]="form.invalid" class="formly-button button" color="primary"
                mat-raised-button>{{submitLabel}}</button>
      </div>
    </form>

    <!--    DO NOT DELETE-->
    <!--    <app-form-debug-->
    <!--      *ngIf="!title.toLocaleLowerCase().includes('remove')"-->
    <!--      [form]="form.value"-->
    <!--      [model]="employee">-->

    <!--    </app-form-debug>-->
  </div>
</div>
