
table {
  width: 100%;
  margin: 0 auto;
}

.button {
  background: #002b5c;
  top: 0;
  right: 0;
  padding: 5px;
  margin: 5px;
  line-height: 14px;
  min-width: auto;
}


.button:hover {
  background-color: #0069d9;
  cursor: pointer;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  margin: 5px;
  line-height: 14px;
  min-width: auto;
}

.close:hover {
  background: red;
  color: white;
}

a {
  cursor: pointer;
}
