<div>
  <mat-toolbar class="mat-elevation-z6">
    <mat-toolbar-row>
      <button
        (click)="createCategory()"
        class="button"
        mat-raised-button>
        <span class="label">{{categoryButtonLabel}}</span>
      </button>

      <div fxFlex fxHide.xs fxLayout fxLayoutAlign="flex-end">
        <ul class="alert alert-info navigation-items" fxLayout fxLayoutGap="20px">
          <li>
            <a routerLink="/dashboard"> <span class="link">Dashboard</span> </a>
            <span class="label"> / {{pageTitle}}</span>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <br/>
  <app-table (deleteAction)="deleteCategory($event)"
             (updateAction)="updateCategory($event)"
             [tableColumns]="categoryTableColumns"
             [tableEntries]="tableData"
             class="grid-container"
  ></app-table>
</div>
