<div>
  <mat-toolbar class="mat-elevation-z6">
    <mat-toolbar-row>
      <button
        (click)="createEmployee()"
        class="button"
        mat-raised-button>
        <mat-icon>person_add</mat-icon>
        <span class="label">Add Employee</span>
      </button>

      <div fxFlex fxHide.xs fxLayout fxLayoutAlign="flex-end">
        <ul class="alert alert-info navigation-items" fxLayout fxLayoutGap="20px">
          <li>
            <a routerLink="/dashboard"> <span class="link">Dashboard</span> </a>
            <span class="label"> / Employees Information</span>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <br/>
  <app-table (deleteAction)="deleteEmployee($event)"
             (updateAction)="updateEmployee($event)"
             [defaultPageSize]="defaultSize"
             [paginationSizes]="pageSizes"
             [tableColumns]="employeeTableColumns"
             [tableEntries]="tableData"
             class="grid-container"
  ></app-table>
</div>
